@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    body {
        width: 100%;
        overflow-x: hidden;
        background: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #191919;
        position: relative;

        .container {
            width: 1350px;
            padding: 0 10px;
            margin: 0 auto;
        }

        .d-flex {
            display: flex;
        }

        .row {
            display: flex;
            align-items: center;
        }

        .align-items-center {
            align-items: center;
        }

        .justify-content-center {
            justify-content: center;
        }

        .justify-content-between {
            justify-content: space-between;
        }

        .spiner {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99999;
            position: fixed;
            background: rgba(255,255,255,.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
        }

        a {
            color: #2E2E2E;
            text-decoration: none;

            &:hover {
                color: #535353;
                text-decoration: none;
            }
        }
        

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        h1,h2,h3,h4,h5,h6,p {
            margin-bottom: 0;
        }
        
        .cursor {
            cursor: pointer;
        }

        .myBtn {
            font-weight: bold;
            transition: all .5s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 0 20px rgba(245, 234, 234, 0.866);
            }
        }

        .navbar {
            padding: 30px 0 30px 0;
            background-color: #fff;
            border-bottom: 1px solid #F2F2F2;
            width: 100%;
            left: 0px;
            position: fixed;
            top: 0;
            transition: all .7s ease-in-out;
            z-index: 999;

            .navbar-left {
                
                li {

                    a {
                        color: #8D989D;
                        margin-right: 40px;
                        font-weight: 600;

                        &.active {
                            color: #3456AF;
                            margin-right: 29.5px;

                            span {
                                margin-right: 4px;
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }

            .navbar-right {

                li {

                    a {
                        color: #191919;
                        font-weight: 600;
                        cursor: auto;

                        span {
                            color: #8D989D;
                            margin-right: 8px;
                        }
                    }
                }
            }

            &.active {
                padding: 18.5px 0;
                box-shadow: 0 3px 10px silver;
            }
        }

        .line {
            padding-bottom: 73px;
        }

        .logo-section {
            padding: 21px 0;

            .logo-section__logo {
                margin-right: 30px;
            }

            .logo-section__input {
                border-radius: 8px;
                background: #FFFFFF;
                border: 1px solid #F2F2F2;
                margin-right: 80px;

                .input-left {
                    padding: 16px 16px 17px 24px;
                    background: #F2F2F2;

                    p {
                        margin-right: 32px;
                        font-weight: 600;
                    }
                }

                .input-right {
                    padding: 16px 16px 9px 20px;
                    width: 500px;

                    input {
                        width: 90%;
                        font-size: 16px;
                        border: none;
                        font-weight: 600;
                        outline: none;

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }

            .logo-section__button {
                .card {
                    padding: 9px 12px;
                    background: #F2F2F2;
                    border-radius: 8px;

                    &:first-child {
                        margin-right: 16px;
                    }
                    
                    &:last-child {

                        h5 {
                            padding: 0 27px 0 10px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .tabs {
            background: #FFFFFF;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
            margin-top: 4px;
            margin-bottom: 24px;

            .card {
                cursor: pointer;
                padding: 22px 30px;
                padding: 22px 40px;
                background-color: #fff;
                transition: all .3s ease-in-out;

                h5 {
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: 600;
                    color: #191919;
                    transition: all .3s ease-in-out;

                    a {
                        transition: all .3s ease-in-out;
                    }
                }

                p {
                    font-size: 12px;
                    line-height: 12px;
                    color: #8D989D;
                    transition: all .3s ease-in-out;
                }

                .arrow {
                    padding-left: 15px;
                }

                &:last-child {
                    padding: 17px 40px;
                }

                &.active {
                    background: #3456AF;
                    padding: 19px 25px 21px 38px;
                    margin-right: 27px;

                    h5 {
                        color: #fff;
                    }

                    span {
                        transform: translateY(3px) translateX(-15px);
                    }
                }

                &:hover {
                    background-color: #3456AF;

                    h5 {
                        color: #fff;
                    }

                    p {
                        color: #fff;
                    }

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .header {

            .container {
                background-image: url(../assets/image/header-bg.png);
                background-size: cover;
                object-fit: contain;
                background-repeat: no-repeat;
                padding-left: 89px;
            }

            h1 {
                font-weight: 700;
                font-size: 40px;
                line-height: 52px;
                color: #FFFFFF;
                width: 770px;
                padding-top: 60px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                width: 716px;
                margin-top: 16px;
                padding-bottom: 108px;
            }
        }

        .products {
            padding: 74px 0 27px;

            .container {
                border-bottom: 1px solid #F2F2F2;
            }

            .card {
                margin-right: 8px;

                h5 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    color: #191919;
                    margin-left: 8px;
                }

                &:last-child {
                    margin-left: 0px;
                }
            }
        }

        .spare {
            padding-bottom: 32px;
            
            h2 {
                margin: 60px 0 24px !important;
                font-weight: 700;
            }

            .first {
                width: 200px;
            }

            .card {
                background: #FAFAFA;
                border: 2px solid transparent;
                border-radius: 16px;
                transition: all .3s ease-in-out;
                padding: 16px 16px 8px 16px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h5 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #191919;
                    transition: all .3s ease-in-out;
                    // width: 280px;
                }

                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    color: #8D989D;
                    margin-top: 8px;
                    // width: 280px;
                }

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    background: #F2F2F2;
                    margin: 0 auto;
                    transition: all .1s ease-in-out;
                    align-items: center;
                    justify-content: center;

                    .white {
                        display: none;
                    }

                    .silver {
                        display: flex;
                    }

                    img {
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                    }
                }

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {
                    border-color: #3456AF;

                    h5 {
                        color: #3456AF
                    }

                    a {
                        background-color: #3456AF;

                        .silver {
                            display: none;
                        }

                        .white {
                            display: flex;
                        }
                    }
                }
            }
        }

        .companies {
            padding-bottom: 50px;

            h5 {
                margin-bottom: 5px !important;
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
                color: #000000;
                padding-left: 16px;
            }

            li {
                width: 200px;
                height: 45px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-radius: 10px;

                a {
                    background: #FFFFFF;
                    border-radius: 8px;
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                    opacity: 0.5;
                    transition: all .3s ease-in-out;
                    padding-left: 16px;
                    background-color: transparent;
                }

                &:hover {
                    background: #F2F2F2;

                    a {
                        opacity: 1;
                    }
                }
            }
        }

        .action {
            padding-bottom: 60px;

            .container {
                overflow-x: hidden;
            }
            
            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                color: #191919;
            }

            a {
                font-weight: 550;
                font-size: 14px;
                line-height: 18px;
                color: #3456AF;
                background: #F7F8FA;
                border-radius: 12px;
                padding: 9px 25px;
            }

            .action__slider {
                position: relative;
                margin-top: 16px;

                .buttons {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: #fff;
                    z-index: 1111;

                    &.left {
                        left: -10px;
                        transform: translateY(-50%) rotate(
                    90deg
                        );
                    }

                    &.right {
                        right: -10px;
                        transform: translateY(-50%) rotate(
                    -90deg
                        );
                    }
                }

                .slider-left {
                    transform: translateX(-56px);
                }

                .slider-right {
                    transform: translateX(56px);
                }
            }
        }

        .news {
            padding-bottom: 60px;
            
            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                color: #191919;
            }

            a {
                font-weight: 550;
                font-size: 14px;
                line-height: 18px;
                color: #3456AF;
                background: #F7F8FA;
                border-radius: 12px;
                padding: 9px 25px;
            }

            .card {
                background: #F2F2F2;
                border-radius: 16px;
                padding: 24px 30px 24px 24px;
                margin-right: 30px;
                margin-top: 17px;

                .card__left {
                    margin-right: 32px;
                }

                h3 {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 52px;
                    color: #FC3B3E;
                }

                h6 {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #FC3B3E;
                }

                h4 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 31px;
                    color: #191919;
                }

                p {
                    margin-top: 12px;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 23px;
                    color: #191919;
                    opacity: 0.7;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        .text {
            padding-bottom: 60px;

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;
                color: #000000;
                margin-bottom: 32px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: #191919;
                font-weight: 500;
            }

            li {
                font-weight: 500;
            }

            .margin-bottom {
                margin-bottom: 28px !important;
            }
        }

        .pre-footer {
            background: #F2F2F2;
            padding: 52px 0 88px;

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;                
                color: #000000;
            }

            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                margin: 16px 0;
                color: #000000;
                opacity: 0.7;

                &.mini {
                    width: 70%;
                }
            }

            input {
                background: #FFFFFF;
                border-radius: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #8D989D;
                padding: 12px 260px 12px 16px;
                margin-right: 8px;
            }

            a {
                background: #3456AF;
                border-radius: 8px;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: #F2F2F2;
                padding: 12px 34px;
            }

            h6 {
                font-weight: 550;
                font-size: 12px;
                line-height: 16px;
                color: #8D989D;
                opacity: 0.7;
                margin-top: 8px;
            }

            .pre-footer__right {
                transform: translateY(-30px);
            }
        }

        .footer {
            padding-bottom: 52px;
            background: #F2F2F2;

            .ml-auto {
                margin-left: auto;
            }

            a {
                font-weight: normal;
                font-size: 14px;
                color: #333333;
            }

            li {
                margin-bottom: 16px;
                width: 100%;
            }

            .myUl {
                width: 190px;
            }

            .phone {
                font-weight: bold;
                font-size: 24px;
                line-height: 31px;
                color: #3456AF;

                &~span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #191919;
                    opacity: 0.5;
                }
            }

            h5 {
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                color: #333333;
                margin-bottom: 18px !important;
            }

            .mr {
                margin-right: 24px;
            }

            .footer__left {
                margin-right: 40px;

                &.twice {
                    margin-right: 80px;
                }

                &.three {
                    margin-right: 130px;
                }
            }
        }

        
        .loader {
            width: 200px;
            margin: 0 auto;

            .loader-one {
                width: 100px;
                height: 100px;
                border: 2px solid;
                border-radius: 50%;
                border-color: transparent #000;
                padding: 15px;
                box-sizing: border-box;
                animation: loader 1s infinite linear;
            }

            .loader-two {
                width: 100%;
                height: 100%;
                border: 2px solid;
                border-radius: 50%;
                border-color: black transparent;
                padding: 15px;
                box-sizing: border-box;
                animation: loaderSecond  1s infinite linear;
            }

            .loader-three {
                width: 100%;
                height: 100%;
                border: 2px solid;
                border-radius: 50%;
                border-color: transparent #000000;
                box-sizing: border-box;
                padding: 15px;
                animation: loader .5s infinite linear;
            }
        }
    }
}


@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loaderSecond {
    100% {
        transform: rotate(-720deg);
    }
}